{% extends 'app/base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block main-content %}
<section class="bg-img1 txt-center" name="bob1" style="background: black">
    <h2 class="ltext-105 cl0 txt-center" style="color: black; font: italic;">
        <h2 class="text-center text-white">About Us</h2>
    </h2>
</section>
<br>
<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container3">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Story
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Fashion may be defined as way of living, dressing, decorating etc. which are popular today, but which are popular today, but which would soon lose their Popularity. It is something’s passing & transitory, a mere craze of the moment to be
                        
                        looked down upon with contempt. For example, tight pants are the fashion today, but only a short wise ago broad loose pant were the order of the day. If today a man appear is Society wearing Broad pants, he would be help up to ridicule, by 
                        
                        only a few year ago they were the height of fashion, symbol of good haste & culture.
                    </p>
                    <h5 style="font-style: italic; color: darkred;">BRK Fashion Consciousness :</h5>
                    <p class="stext-113 cl6 p-b-26">
                        Fashion consciousness in cities is so widespread & deep that as soon as a fashion comes in vogues London, Paris, New-York or Rome. It is adopted & patronized by people in India. The means of communication are now so fast that the earth has 
                        
                        turned into a global valley & the infectious fashion knows no boundaries of time & space. BRK fashions initiative to take to urban lifestyle, cities and also to rural areas through this website. This includes video blogs also for fast 
                        
                        understanding and adopting of latest fashions from various designers.
                    </p>
                    <h5 style="font-style: italic; color: darkred;">Advantages of BRK Fashion :</h5>
                    <p class="stext-113 cl6 p-b-26">
                        From BRK Fashion, Man shows himself with good personality. "The apparel of proclaims the man" Therefore, the urbanities, particularly the young men always keep themselves abreast of modern trends in style and fashions. Consequently the tailors, 
                        
                        fashion, designers, manufacturers are having a booming Business. The catch on the new ideas in circulations & immediately put fashion products to suit the new fangled, fads, fashions and through it fashion designing and technology is now on 
                        
                        established branch of human knowledge, science and practice. It provides employment.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Any questions? Let us know in store at lotus landmark vijayawada near prabhas college 520003 any contact (+91)-8142949782
                    </p>
                </div>
            </div>
            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="{% static 'app/images/V3.jpg' %}" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Mission
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        BRK fashions are to provide customized fashion desins through professional designers’ for men in ethnic, sports, casuals and office wears. we nurture creativity and professionalism in designers so as to meet the global challenges.
                    </p>

                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            Discover the new you which others can't afford to do that.
                        </p>

                        <span class="stext-111 cl8">
                            - B.Bhargav Aniketh 
                        </span>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="{% static 'app/images/v4.webp' %}" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</section>	
{% endblock main-content %}