{% extends 'app/base.html' %}
{% load static %}
{% block title %}Casual Wears{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
    <div class="list-group">
        <a href="{% url 'casualwears' %}" class="list-group-item list-group-item-action" aria-current="true">All Models</a>
        <a href="{% url 'casualwearsdata' 'arrow' %}" class="list-group-item list-group-item-action" aria-current="true">Arrow</a>
        <a href="{% url 'casualwearsdata' 'LouisPhillipe' %}" class="list-group-item list-group-item-action" aria-current="true">Louis Phillipe</a>
        <a href="{% url 'casualwearsdata' 'below' %}" class="list-group-item list-group-item-action" aria-current="true">Below 1500</a>
        <a href="{% url 'casualwearsdata' 'above' %}" class="list-group-item list-group-item-action" aria-current="true">Above 1500</a>
    </div>
   </div>
   <div class="col-sm-8">
    <div class="row">
        {% for product in casuals %} 
         <div class="col-sm-4 text-center mb-4">
            <a href="{% url 'product-detail' product.id %}" class="">
                <div class="item">
                    <img src="{{product.product_image.url}}" alt="" height="300" class="">
                    <div class="fw-bold">{{product.title}}</div>
                    <div class="fw-bold">Rs. {{product.discounted_price}}
                    <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small>
                    </div>
                </div>
            </a>
         </div>
        {% endfor %}
    </div>
   </div>
  </div>
 </div>
{% endblock main-content %}